<!--<app-example 
name = "Bob"
age = "45"
hairColor = "Brown"
></app-example>
<app-example 
name = "Brenda"
hairColor="Blonde"
></app-example> -->
<!--
<app-people-list>

</app-people-list>
-->
<app-event-handling></app-event-handling>

<app-multiple-choice
    (a) = "doSomething()"
    (b) = "doSomethingElse()"
    (c) = "doSomething()"
    (d) = "doAnotherThing()"
>

</app-multiple-choice>
<!--<app-multiple-choice (a) ="doSomething()" (b)="" (c)="" (d)=""></app-multiple-choice>
-->
<app-counter-button></app-counter-button>
<router-outlet></router-outlet>
 