<!--<app-example 
name = "Bob"
age = "45"
hairColor = "Brown"
></app-example>
<app-example 
name = "Brenda"
hairColor="Blonde"
></app-example> -->
<!--
<app-people-list>

</app-people-list>
-->

<app-nav-bar></app-nav-bar>
<!--<app-button text ="Success!" bgColor="#00FF00"></app-button> -->
<app-success-button></app-success-button>
<app-danger-button></app-danger-button>

<!--<app-congratulations-message [count] = "count" [threshold] = "threshold"></app-congratulations-message>
<app-counter-button *ngIf="showCounterButton" [count]="count" (buttonCLicked)="incrementCount()"></app-counter-button>

<button (click) ="toggleCounterButton()">Show/Hide Counter Button</button>

<app-event-handling></app-event-handling>-->

<app-multiple-choice
    (a) = "doSomething()"
    (b) = "doSomethingElse()"
    (c) = "doSomething()"
    (d) = "doAnotherThing()"
></app-multiple-choice>
<!--<app-multiple-choice (a) ="doSomething()" (b)="" (c)="" (d)=""></app-multiple-choice>
-->

<router-outlet></router-outlet>
 <div>
    Copyright Carolina Mascitti 2022
 </div>